<ion-row id="counter_row">
  <ion-col col-sm-3 col-md-3 col-lg-2 col-xl-2>
    <ion-card>
      <ion-card-content text-center>
        <ion-card-title style="color: #00796B">
          1
        </ion-card-title>
        <p>
          Hour(s) of testing
        </p>
      </ion-card-content>
    </ion-card>
  </ion-col>


  <ion-col col-sm-3 col-md-3 col-lg-2 col-xl-2>
    <ion-card>
      <ion-card-content text-center>
        <ion-card-title style="color: #0277BD">
          1
        </ion-card-title>
        <p>
          Executed test(s)
        </p>
      </ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col col-sm-3 col-md-3 col-lg-2 col-xl-2>
    <ion-card>
      <ion-card-content text-center>
        <ion-card-title style="color: #E64C25">
          1
        </ion-card-title>
        <p>
          Current experiment(s)
        </p>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
