#menuList {
  background-color: color($colors, grayMenu);
  color: white;
  font-size: 14px !important;

  button {
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    padding-left: 0;
  }

  div .input-wrapper {
    margin-left: 16px;
  }

  button :hover {
    background-color: #363d47;
  }

  .item-divider {
    background-color: #363d47;
    border: 0;
    color: #aaa;
    font-size: inherit;
  }
}

#buttonUser {
  background: linear-gradient(to bottom right, #025C88, #026C9F, #037CB7, #038BCE, #039BE5) !important;
  color: white;

  p {
    color: white;
  }

  .item-inner {
    margin-left: 5px;
  }
}

#colList {
  padding: 0;
}
