#menuList {
  background-color: color($colors, grayMenu);
  color: white;
  font-size: 14px !important;

  button {
    background-color: inherit;
    color: inherit;
    font-size: inherit;
  }

  button .item {
    background-color: inherit;
    color: inherit;
    height: 30px;
    font-size: inherit;
  }

  .item-divider {
    background-color: #363d47;
    border: 0;
    color: #aaa;
    font-size: inherit;
  }
}

#colList {
  padding: 0;
}
