<ion-row>
  <ion-col col-12>
    <img src="../../assets/imgs/logo_nome2.png" float-left style="margin-bottom: 10px">
  </ion-col>
</ion-row>
<ion-row>
  <ion-col id="colList">
    <ion-list no-lines id="menuList">
      <ion-item-divider color="light">Main Navigation</ion-item-divider>
      <button ion-item><ion-icon name="home" margin-right></ion-icon>Home</button>
      <button ion-item><ion-icon name="timer" margin-right></ion-icon>Tests</button>
      <button ion-item><ion-icon name="settings" margin-right></ion-icon>Experiments</button>
      <ion-item-divider color="light">Settings</ion-item-divider>
      <button ion-item><ion-icon name="contact" margin-right></ion-icon>Profile</button>
      <button ion-item (click)="LogOut()"><ion-icon name="exit" margin-right></ion-icon>Logout</button>
    </ion-list>
  </ion-col>
</ion-row>
<ion-footer style="color: white">
  <ion-item style="padding-top: 3px; font-size: 15px" id="buttonUser">
    <ion-icon name="contact" item-start></ion-icon>
    {{this.user.Nome}} {{this.user.Cognome}}
    <p style="font-size: 12px">{{this.user.Email}}</p>
  </ion-item>
</ion-footer>
