<ion-row>
  <ion-col col-12>
    <img src="../../assets/imgs/logo_nome2.png" float-left style="margin-bottom: 10px">
  </ion-col>
</ion-row>
<ion-row>
  <ion-col id="colList">
    <ion-list no-lines id="menuList">
      <ion-item-divider color="light">Main Navigation</ion-item-divider>
      <button ion-item>Home</button>
      <button ion-item>Tests</button>
      <button ion-item>Experiments</button>
      <ion-item-divider color="light">Settings</ion-item-divider>
      <button ion-item>Profile</button>
      <button ion-item>Logout</button>
    </ion-list>
  </ion-col>
</ion-row>
