<ion-row>
  <ion-col col-sm-12 col-md-6 col-lg-4 col-xl-4>
    <ion-card (click)="this.testClick.emit(true)">
      <img src="../../assets/imgs/test.png"/>
      <ion-card-content>
        <ion-card-title>
          Tests
          </ion-card-title>
        <p>
          Start testing
        </p>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col col-sm-12 col-md-6 col-lg-4 col-xl-4>
    <ion-card (click)="this.expClick.emit(true)">
      <img src="../../assets/imgs/experiments.png"/>
      <ion-card-content>
        <ion-card-title>
          Experiments
          </ion-card-title>
        <p>
          Add a new experiment, give a name, set the variables, start testing
        </p>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
