ion-grid {
  padding: 0 !important;
  ion-row {
    padding: 0 !important;
    ion-col {
      padding: 0 !important;

      ion-card {
        padding: 0 !important;
        ion-card-header {
          margin-top: 1px !important;
          margin-bottom: 1px !important;
        }
        ion-card-content {
          margin-inside: 1px !important;

          padding: 0 !important;

          ion-list {
            margin-inside: 1px !important;
            padding: 0 !important;

            ion-item {
              margin-inside: 1px !important;
              padding: 0 !important;

              ion-row {
                ion-col {
                  p {
                    color: color($colors, secondary, base) !important;
                    font-size: small !important;
                  }
                  color: color($colors, secondary, base) !important;
                  font-size: small !important;

                }

              }

            }

          }

        }
      }
    }
  }
}

ion-content {
  .scroll-content {
    overflow: auto;
  }
}

#back {
  // position: relative;
  // background: url('../../assets/imgs/rep_background.png') no-repeat transparent;
  // background-size: cover;
  // z-index: 1;
  // background-repeat: repeat-x;
  // animation: animatedBackground 60s linear infinite;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
