<ion-header id="dash-header" padding>
  <button margin float-right (click)="LogOut()">
    <ion-icon name="md-person"></ion-icon>
  </button>
  <counters></counters>
</ion-header>

<div id="dash_content" padding>
  <cards></cards>
  <!-- <tests-home></tests-home> -->
  <!-- <experiments-home></experiments-home> -->
</div>

<!-- <ion-footer>
  <ion-toolbar text-center>
      <span style="display:inline-block; transform: rotate(180deg);">&copy;</span> Copyleft 2018
  </ion-toolbar>
</ion-footer> -->
