 <counters *ngIf="!this.newExperiment" ></counters>


<div id="dash_content" padding>
  <cards *ngIf="this.card && !this.test && !this.experiment && !this.newExperiment" (testClick)="this.testsClick.emit(true)" (expClick)="this.experimentsClick.emit(true)"></cards>
  <tests-home *ngIf="this.test && !this.experiment && !this.card && !this.newExperiment" ></tests-home>
  <experiments-home *ngIf="this.experiment && !this.test && !this.card && !this.newExperiment" (experimentClick)="ExperimentClicked($event)"></experiments-home>
</div>

<!-- <ion-footer>
  <ion-toolbar text-center>
      <span style="display:inline-block; transform: rotate(180deg);">&copy;</span> Copyleft 2018
  </ion-toolbar>
</ion-footer> -->
